.intro__button {
  margin-top: 40px;
  height: 55px;
  border-radius: 55px;
  border: 0;
  padding: 0;
  min-width: 270px;
  transition: .3s;
  background-color: $black;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  cursor: pointer;
}

.intro__button:hover {
  background-color: $violet-accent;
  color: $white;
}

.intro__button:active {
  background-color: #5130C1;
  color: $white;
}

