.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px 92px;
  border-radius: 24px 24px 0px 0px;
  background-color: white;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 284px;
  flex-wrap: wrap;
}

.footer__logo {
  width: 164px;
  height: 30px;
  object-fit: cover;
}

.footer__call {
  margin: 24px 0;
}

.footer__phone-number {
  opacity: 85%;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
}

.footer__free-call {
  color: $gray-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.footer__social-links {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 34px;
}

.footer__vk-link {
  display: block;
  background-image: url("../../images/vk.svg");
  height: 36px;
  width: 36px;
  background-size: contain;
  &:hover {
    background-image: url("../../images/vk-hover.svg");
  }
}

.footer__telegram-link {
  display: block;
  background-image: url("../../images/telegram.svg");
  height: 36px;
  width: 36px;
  background-size: contain;
  &:hover {
    background-image: url("../../images/telegram-hover.svg");
  }
}

.footer__journal-link {
  opacity: 85%;
  font-size: 16px;
  line-height: 1.5;
}

.footer__copyright-text {
  color: $gray-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.footer__nav-bar {
  margin-left: 40px;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 184px;
}

.footer__nav-item {
  max-height: 20px;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.18;
}

.footer__info {
  color: $gray-primary;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 608px;
}

.footer__info-link {
  text-decoration: underline;
  color: $gray-primary;
}

.footer__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.footer__link:hover {
  color: $violet-accent;
}

@media screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .footer__contacts {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
